body{
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 75px;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    --text-stroke-color: rgb(255, 255, 255);
    color: transparent;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #a100e6, 0 0 40px #c700e6, 0 0 50px #cf00e6, 0 0 60px #e600de, 0 0 70px #e200e6;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px rgb(219, 77, 255),rgb(243, 77, 255)px #ea4dff,rgb(255, 77, 222)px #f94dff, 0 0 60px #f94dff, 0 0 70px #f34dff, 0 0 80px #ff4df3;
    }
}

a {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    --text-stroke-color: rgb(255, 255, 255);
    inset: 0;
    overflow: hidden;
    font-family: "Arial";
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 20%;
    margin-top: 3%;
    text-decoration: none;
    font-size: 30px;
    color: transparent;
    display: grid;
    place-items: center;
    background: rgb(142, 135, 138);
    padding: 1%;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: 5px 5px 5px black;
}

a:hover {
    box-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #a100e6, 0 0 15px #c700e6, 0 0 20px #cf00e6, 0 0 25px #e600de, 0 0 30px #e200e6;
    border: 1px solid rgba(0,0,0,0.1);
    transform: translate(0.2em, 0.2em);
}
