body {
    background-color: rgb(60, 60, 70);
    color: white;
}

h1 {
    padding: 1%;
    font: 3rem "Fira Sans", sans-serif;
    text-shadow: 5px 10px 10px black;
    border: 5px double white;
}

.everything {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.forms {
    font: 2.5rem "Fira Sans", sans-serif;
}

.difficulty, .language {
    width: 150%;
}

input {
    visibility: hidden;
}

label {
    text-align: center;
    background-color: #3c3c46;
    margin: 1%;
    border: 5px solid white;
    border-radius: 15px;
    color: white;
}

#easy:checked ~ #easylabel {
    box-shadow: 5px 10px 10px black;
    background-color: #4b3d52;
}
#medium:checked ~ #mediumlabel {
    box-shadow: 5px 10px 10px black;
    background-color: #4b3d52;
}
#hard:checked ~ #hardlabel {
    box-shadow: 5px 10px 10px black;
    background-color: #4b3d52;
}
#french:checked ~ #frenchlabel {
    box-shadow: 5px 10px 10px black;
    background-color: #4b3d52;
}
#english:checked ~ #englishlabel {
    box-shadow: 5px 10px 10px black;
    background-color: #4b3d52;
}

button {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 2%;
    text-decoration: none;
    padding: 1%;
    border: 2px solid white;
    background-color: #3c3c46;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-shadow: 5px 10px 10px black;
    font: 1rem "Fira Sans", sans-serif;
}

button:hover {
    box-shadow: 5px 10px 10px black;
    background-color: #4b3d52;
}