body {
    background-color: rgb(37, 37, 37);
    font: "Fira Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-top: 3%;
    width: 20%;
    border-radius: 50px;
}

h2 {
    color: white;
    padding: 5%;
    font-size: 5em;
    text-shadow: 5px 10px 10px rgb(135, 82, 127);
}

a {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 2%;
    text-decoration: none;
    padding: 1%;
    border: 1px solid rgba(0,0,0,0);
    background: rgb(142, 135, 138);
    color: white;
    border-radius: 10px;
    text-align: center;
    text-shadow: 5px 10px 10px black;
    font: 1rem "Fira Sans", sans-serif;
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: 5px 5px 5px black;
}

a:hover {
    box-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #a100e6, 0 0 15px #c700e6, 0 0 20px #cf00e6, 0 0 25px #e600de, 0 0 30px #e200e6;
    border: 1px solid rgba(0,0,0,0.1);
    transform: translate(0.2em, 0.2em);
}