{{define "game"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Game </title>
        <link rel="stylesheet" href="/assets/style/index.css">
    </head>
    <body>
        <p>
            {{.Game.Display}}
        </p>
        <p>
            {{.Game.Life}}
        </p>
        <p>
            {{.Game.Letters}}
        </p>
    </body>
</html>
{{end}}