{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Menu </title>
        <link rel="stylesheet" href="/assets/style/index.css">
    </head>
    <body>
        <h1> Le Pendu </h1>
        <a href="/game">&nbsp;Jouer&nbsp;</a>
        <a href="/settings">Paramètres</a>
        <a href="/rules">Règles</a>
    </body>
</html>
{{end}}