{{define "lose"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Lose </title>
        <link rel="stylesheet" href="/assets/style/lose.css">
    </head>
    <body>
        <img class="opacityshadow" src="/assets/images/lose.jpg">
        <div class="hero-container">
            <h2 class="hero glitch layers opacityshadow" data-text="You died"><span>You died</span></h2>
        </div>
        <a href="/index" class="opacityshadow">M̸̧̤̭̘͕͌̈́̾͛̆͘̕͝ȩ̴̤̜̱͍̩͇͑̅̋͌̑ṅ̵͎̖̓̅͐̍̐̓̋̉ủ̷̘̬</a>
    </body>
</html>
{{end}}