{{define "settings"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Paramètres </title>
        <link rel="stylesheet" href="/assets/style/settings.css">
    </head>
    <body>
        <div class="everything">
            <h1> Paramètres </h1>
            <div class="forms">
                <form>
                    <div class="difficulty">
                        <h2>Difficulté</h2>
                        <input id="easy" type="radio" value="easy" name="Difficulty" checked>
                        <label for="easy">Facile</label>
                        <input id="medium" type="radio" value="medium" name="Difficulty">
                        <label for="medium">Moyen</label>
                        <input id="hard" type="radio" value="hard" name="Difficulty">
                        <label for="hard">Difficile</label>
                    </div>
                    <div class="language">
                        <h2>Langue</h2>
                        <input id="french" type="radio" value="french" name="Language" checked>
                        <label for="french">Français</label>
                        <input id="english" type="radio" value="english" name="Language">
                        <label for="english">English</label>
                    </div>
                </form>
            </div>
        </div>
        <a href="/index"> X </a>
    </body>
</html>
{{end}}